<a href="https://colab.research.google.com/github/MartaIshchuk/hello-world/blob/main/python_practice_3_Ishchuk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# I. Оператори порівняння та логічні оператори. Умови.

1. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [ ]:
favourite_number =26
if favourite_number % 2 == 0:
    result = favourite_number * 2
    print(result)

52

2. Створіть змінну, що посилається на список. Якщо список пустий, додайте будь-який елемент у кінець списку. Якщо ж ні, то нічого не робіть.

In [8]:
list =[]
if not list:
  print(list)

[]

3. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [7]:
  my_name ="Marta"
  if "a" in my_name or "i" in my_name:
   print(my_name)

  if "o" in my_name or "n" in my_name:
   print(my_name)

  if "o" not in my_name and "n" in my_name:
   print(my_name)

  if "o" in my_name:
    print(my_name)

Marta

# II. Comprehensions.

4. Створіть список, використовуючи if (не if-else), range та comprehension.

In [ ]:
  numbers = [x for x in range(50) if x % 4 == 0 if x % 8 == 0]
  print(numbers)

[0, 8, 16, 24, 32, 40, 48]

5. Створіть словник, використовуючи dict comprehension, що містить if else. Коли слід використовувати comprehensions, а коли їх слід уникати?

In [4]:
dict_1 = {'a': 1, '3': 2, 'c': 3, '8': 4, 'e': 5, '10': 6}
dict_1 = {k: ('Even' if v % 2 == 0 else 'Odd') for (k, v) in dict_1.items()}
print(dict_1)

{'a': 'Odd', '3': 'Even', 'c': 'Odd', '8': 'Even', 'e': 'Odd', '10': 'Even'}

  Слід використовувати коли:
*   Треба сгенерувати новий словник;
*   Однорідні рядки;
*   Прості вирази

Коли слід уникати:
*   Великі набори даних;
*   Обробка винятків або умов;
*   Складні вирази

6. Створіть список з рядками та запишіть його у змінну. Створіть ще один список на основі попереднього, де кожен рядок буде містити тільки три перших заглавних символи. Наприклад: ['hello', 'i', 'dont', 'care'] -> ['HEL', 'I', 'DON', 'CAR']. Використання comprehensions обовʼязкове.

In [3]:
my_list =["My", "name", "is", "Marta" ]
new_list =[word[:3].upper() for word in my_list]
print(new_list)

['MY', 'NAM', 'IS', 'MAR']

# III. Цикли.

7. Продемонструйте роботу циклу while. Не можна використовувати True для запуску циклу, щоб уникнути безкінечного циклу!

In [ ]:
x = 1
while x < 6:
       print(x)
       x += 2

1
3
5

8. Напишіть програму, яка виведе на екран непарні числа в діапазоні від 0 до 20 включно.

In [ ]:
for number in range(0, 20):
   if number % 2 != 0:
    print(number)

1
3
5
7
9
11
13
15
17
19

9. Створіть список з елементами булевого типу або None. Використовуючи цикли, отримайте в результаті список з кортежами, де перший елемент кортежу - індекс(ціле число), а другий елемент - відповідне значення з першого списку.

Наприклад, [True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

In [8]:
list_one =[True, False, None, False, True ]
for index, value in enumerate(list_one):
  print(f"Index: {index}, Value: {value}")

Index: 0, Value: True
Index: 1, Value: False
Index: 2, Value: None
Index: 3, Value: False
Index: 4, Value: True

10. Створіть словник, де ключі - назви книжок, а значення - їхня кількість у наявності в Вашій міні-бібліотеці. Бібліотека має містити щонайменше 6 книжок (6 пар значень у словнику) і щонайбільше 10 (пар значень). Використовуючи цикли, оновіть словник (не створюйте новий) так, щоби кількість книг у наявності збільшилося на 5 кожної книги. Наприклад,
{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13} -> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [23]:
  dict = {
       "Pride and Prejudice":16,
       "The Great Gatsby ": 12,
       "Alice's Adventures in Wonderland ": 20,
       "The Odyssey ": 8,
       "The Lord of the Rings" :4,
       "The Red and the Black ": 13
          }

  for book in dict:
       dict[book] += 5

       print(dict)

{'Pride and Prejudice': 21, 'The Great Gatsby ': 12, "Alice's Adventures in Wonderland ": 20, 'The Odyssey ': 8, 'The Lord of the Rings': 4, 'The Red and the Black ': 13}
{'Pride and Prejudice': 21, 'The Great Gatsby ': 17, "Alice's Adventures in Wonderland ": 20, 'The Odyssey ': 8, 'The Lord of the Rings': 4, 'The Red and the Black ': 13}
{'Pride and Prejudice': 21, 'The Great Gatsby ': 17, "Alice's Adventures in Wonderland ": 25, 'The Odyssey ': 8, 'The Lord of the Rings': 4, 'The Red and the Black ': 13}
{'Pride and Prejudice': 21, 'The Great Gatsby ': 17, "Alice's Adventures in Wonderland ": 25, 'The Odyssey ': 13, 'The Lord of the Rings': 4, 'The Red and the Black ': 13}
{'Pride and Prejudice': 21, 'The Great Gatsby ': 17, "Alice's Adventures in Wonderland ": 25, 'The Odyssey ': 13, 'The Lord of the Rings': 9, 'The Red and the Black ': 13}
{'Pride and Prejudice': 21, 'The Great Gatsby ': 17, "Alice's Adventures in Wonderland ": 25, 'The Odyssey ': 13, 'The Lord of the Rings': 9, 'The Red and the Black ': 18}

11. Визначте цілочислену змінну n, що належить проміжку від 4 до 10 включно. Використовуючи цикли, виведіть в консоль наступний патерн.

#
##
###
####

... #*n

In [28]:
number = 4

if 4 <= n <= 10:
    for i in range(1, n + 1):
        print("#" * i)
else:
    print("number")

#
##
###
####

12. Гра "Нумо вгадай".
Розробіть просту гру, де користувач має вгадати випадкове число від 1 до 100. Для генерації випадкового числа використовуйте функцію random.randint(a, b) (тут a та b включно). Для отримання числа з консолі використовуйте функцію input(), результат якої обовʼязково явно приведіть до типу int.

Підказка: використовуйте цикл while та умови if-else, щоб повідомити користувачу піказки (напр. "Більше", "Менше") поки користувач не вгадає. По завершенню виведіть кількість спроб, які знадобилися для вгадування.

In [ ]:
import random

random_number = random.randint(1, 100)
attempts = 0
print(random_number)

while True:
    attempt = int(input("Введіть вашу догадку (від 1 до 100): "))
    attempts += 1

    if attempt == random_number:
        print(f"Вітаємо! Ви вгадали вірне число {random_number} за {attempts} спроб.")
        break
    elif attempt < random_number:
        print("Більше")
    else:
        print("Менше")

90

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.